{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "edge": 18
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
